# Ignore node_modules
node_modules/

# Ignore environment files
backend/.env

# Ignore other sensitive files (e.g., API keys, config files)
backend/*.json

# Ignore logs
*.log

# Ignore build output
frontend/build/

# Ignore other local files (like editor config files, etc.)
.idea/
.vscode/
