# Ignore node_modules
node_modules/

# Ignore environment files
backend/.env

# Ignore other sensitive files (e.g., API keys, config files)
backend/*.json

# Ignore the Google Cloud Service Account credentials file
interntrack-455506-6c97b4a164f9.json

# Ignore logs
*.log

# Ignore build output
frontend/build/

# Ignore other local files (like editor config files, etc.)
.idea/
.vscode/
